SUPABASE_URL=https://qdarijogppgxlqkwlgve.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_9WuWn7VmZbMDNGCKiur1vw_ptqhvGeb
SESSION_SECRET=9a8f2d1c4b7e6f0a5c3d8e1b4f7a2c9d6e0f3a8b1c5d7e9f2a4b6c8d0e1f3a5
SUPABASE_PORT=5000
SMTP_USER=shekarchandra99311@gmail.com
SMTP_PASS=bpyu slvo avoi kpxp
